body {
  background-color: #f2ecfa;
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}
a {
  color: #7073b1;
}
.weather-app {
  background: #ecfbf8;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}
header {
  border-bottom: solid #f2ecfa;
  padding: 0 0 30px;
}
.search-input {
  background-color: #f2ecfa;
  border: none;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-button {
  background-color: #7073b1;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: aliceblue;
  font-size: 18px;
  width: 20%;
  margin-left: 5px;
}
main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 36px;
  line-height: 46px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}
.weather-app-details strong {
  color: #7073b1;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temp-container {
  display: flex;
}
.weather-app-temp-value {
  font-size: 88px;
  font-weight: bold;
}
.weather-app-icon {
  font-size: 60px;
  margin-top: 18px;
  margin-left: 8px;
}
.weather-app-unit {
  margin-top: 20px;
  font-size: 20px;
}
footer {
  border-top: solid #f2ecfa;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
